name: CI/CD Pipeline

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    permissions:
      id-token: write
      contents: read

    steps:
      # --------------------------
      # 1. Checkout code
      # --------------------------
      - name: Checkout repository
        uses: actions/checkout@v5

      # --------------------------
      # 2. Login to Azure
      # --------------------------
      # - name: Configure Azure Credentials
      #   uses: azure/login@v2
      #   with:
      #     creds: ${{ secrets.AZURE_CREDENTIALS }}
      #     enable-AzPSSession: true
      - name: Configure Azure Credentials (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}


      # --------------------------
      # 6. Kubernetes
      # --------------------------
      - name: Install kubectl
        run: sudo az aks install-cli

      - name: Update kubeconfig for AKS
        run: |
          az aks get-credentials \
            --resource-group test-k8s \
            --name main-cluster \
            --overwrite-existing

      - name: Apply Kubernetes Manifests
        run: kubectl apply -f k8s/

